
.DS_Store
signatories_doc/assets/.$ont_eng_uml.drawio.bkp
signatories_doc/assets/.$ont_eng_uml_existing_v1.drawio.bkp
signatories_doc/assets/.$ont_eng_uml_existing_v1.drawio.dtmp
signatories_doc/assets/.$ont_eng_uml_v2.drawio.dtmp
signatories_doc/assets/.$ont_eng_uml_v2.drawio.bkp
signatories_doc/signatories.aux
signatories_doc/signatories.log
signatories_doc/signatories.out
signatories_doc/signatories.synctex.gz
signatories_doc/signatories.toc
.ipynb_checkpoints/signatories_streamlit-checkpoint.ipynb
.ipynb_checkpoints/un_analysis-checkpoint.ipynb
_doc/signatories_doc/signatories.aux
_doc/signatories_doc/signatories.log
_doc/signatories_doc/signatories.synctex.gz
_doc/un_analysis/un_analysis.aux
_doc/un_analysis/un_analysis.log
_doc/un_analysis/un_analysis.out
_doc/un_analysis/un_analysis.synctex.gz
_doc/un_analysis/un_analysis.toc
_doc/signatories_doc/signatories.aux
_doc/signatories_doc/signatories.log
_doc/signatories_doc/signatories.synctex.gz
_doc/signatories_doc/signatories.aux
_doc/signatories_doc/signatories.log
_doc/signatories_doc/signatories.synctex.gz
_doc/signatories_doc/signatories.aux
_doc/signatories_doc/signatories.synctex.gz
*.gz
*.aux
*.log
*.gz
_doc/signatories_doc/signatories.log
_doc/signatories_doc/signatories.aux
_doc/signatories_doc/signatories.log
_doc/signatories_doc/signatories.out
_doc/signatories_doc/signatories.synctex.gz
_doc/signatories_doc/signatories.toc
data/node_table_OLD.csv
data/links_table_OLD.csv
_doc/un_analysis/NOTES.pdf
.ipynb_checkpoints/signatories_network_time_series-checkpoint.ipynb
.ipynb_checkpoints/tensors-checkpoint.ipynb
.ipynb_checkpoints/agreements_in_actor_space-checkpoint.ipynb
